.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  color: white;
  background: #7f949f;
  margin-bottom: 5rem;
}

.site-logo {
  margin-left: 1rem;
}

.site-name {
  text-decoration: none;
  color: white;
}

.user-session {
  margin-right: 1rem;
}
