.daily-body {
  position: relative;
  margin-bottom: 2rem;
}

.details-button {
  color: white;
  background-color: #7f949f;
  border-color: #7f949f;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-button:hover {
  background: #79abc8;
  border-color: #79abc8;
  transition: 0.2s;
}
