.add-habit-section {
  color: white;
  border-right: 2px solid white;
}

.plan-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  color: white;
}

.add-button-area {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.add-habit-button {
  padding: 0.5rem 0.75rem;
}

.habit-form {
  color: white;
}

.form-buttons {
  display: flex;
  justify-content: end;
}

.form-button {
  margin-right: 1rem;
}
