.add-habit-section {
  color: white;
  border-right: 2px solid white;
}

.add-habit-button {
  color: white;
  background-color: #7f949f;
  border-color: #7f949f;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

.add-habit-button:hover,
.add-habit-button:active {
  background: #79abc8;
  border-color: #79abc8;
  transition: 0.2s;
}

.habit-form {
  color: white;
}

.form-buttons {
  display: flex;
  justify-content: end;
}

.form-button {
  margin-right: 1rem;
}
