.form-area {
  display: flex;
  justify-content: center;
  color: white;
}

.login-form {
  width: 40vw;
  position: relative;
}

.login-button {
  padding: 0.5rem 0.75rem;
  position: absolute;
  right: 0;

  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.login-button:hover {
  background-color: white;
  color: #222c31;
  transition: 0.4s;
}
